@charset="utf-8";

@import url(../fonts/);

@font-face {
  font-family: 'Noto Sans SC';
  src: url('../fonts/NotoSansSC-Regular.otf'),
}

.wrap{
	width:50rem;
	margin: 0 auto;
}
p{
	font-size: 1.875rem;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif
}