@charset="utf-8";

.wrap{
	width:100%;
	max-width:80rem;
	/*width: 68rem;*/
	margin: 0 auto;
}

body{
	font-family: "微软雅黑",Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 1.125rem;
	line-height: 1.618;
}


h1{
	font-weight:900;
	font-size: 3.3rem;
	line-height:1.35;
	margin:0.8em 0;
}

h2{
	font-weight:800;
	font-size: 2.3rem;
	line-height:1.45;
	margin:1em 0;
}

h3{
	font-weight:700;
	font-size: 1.85rem;
	line-height:1.6;
	margin:1.5em 0;
}

h4{
	font-weight:600;
	font-size: 1.55rem;
	line-height:1.7;
	margin:1.6em 0;
}

h5{
	font-weight:600;
	font-size: 1.4rem;
	line-height:1.6;
	margin:1.6em 0;
}

h6{
	font-weight:500;
	font-size: 1.25rem;
	line-height:1.6;
	margin:1.6em 0;
}

header{
	/*border:0.125rem solid #000;
	text-align: center;
    float: left;*/
}

.img-responsive{
	/*width: 100%;
	display: block;*/
}

.center-img{
   /* margin: 0px auto 0px auto;*/
}

.content{
	/*margin-top:3.750em; 
	border:0.125rem solid #000;
	float: left;*/
}

.content-left{
	width:62.5%;
	/*width:49rem;*/
	padding: 1.250rem;
	float: left;
}

.conteng-right{
	width:37.5%;
	/*width: 13.75rem;*/
	padding: 1.250rem;
	float: left;
}

.text-center{
	/*text-align: center;*/
}