.wrapper{
	width: 60rem;
	margin:2rem auto;
	background-color:black;
	height: 20rem;
	/***第一种****
	overflow:auto;*/
	/***第二种****
	text-align:center;*/
	/***第三种****
	border-top: 1px solid;*/
}

.child_one{
	/***第二种****
	display:inline-block;*/
	width: 38rem;
	margin: 2rem auto;
	background-color: blue;
	height: 10rem;
}