.wrapper{
	width: 60rem;
	margin:0 auto;
	background-color:black;
}

.child_one{
	background-color: blue;
	height: 10rem;
	width: 50%;
	margin:0 auto;
	margin-bottom: 3rem;
}

.child_two{
	background-color: red;
	height: 10rem;
	width: 50%;
	margin: 0 auto;
	position: relative;
	left: 5rem;
	top: -10rem;
}

.child_three{
	background-color: green;
	height: 10rem;
	width: 50%;
	margin: 0 auto;
}
